.button { background-color: #e0e0e0; color: #a0a0a0; padding: 8px; text-decoration: none;}
.placeholder {border: 1px solid black; }
ul { list-style: none; margin: 0 0 0 0; padding: 0 0 0 0;}
h1 { font-size:220%; color:pink;}
body { font-family: Arial; }
.box { font-size: 72%; padding: 0.2em; border: 1px solid black; padding:2px; text-align:center; margin-bottom: 1em; margin-right: 5px;}
.dp10 {width:10%;  float:left;  display: inline; }
.clear {clear:both;}
.headline { font-weight: bold; height: 3em; color: #000000;}
.queue_column .headline { font-weight: bold; height: 3em; color: #d0d0d0;}
.footer { font-size: 80%; color: #808080; padding-top: 5em;}
#P .box { background-color: #D94ED4    ; color: #000000;}
#P_Q .box { background-color: #F0F0F0; color: #606060;}
#D .box { background-color: #7A35E8    ; color: #000000;}
#D_Q .box { background-color: #F0F0F0; color: #606060;}
#DE .box { background-color: #69D2E7  ; color: #000000;}
#DE_Q .box { background-color: #F0F0F0; color: #606060;}
#T .box { background-color: #FAAF01    ; color: #000;}
#T_Q .box { background-color: #F0F0F0; color: #606060;}
#R .box { background-color: #4BAD08  ; color: #000000;}
#R_Q .box { background-color: #F0F0F0; color: #606060;}